accelerate
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
h5py
huggingface-hub
hydra-core
idna
implicit
ipykernel
ipython
ipython-genutils
isoduration
jedi
jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
omegaconf
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
polars
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pygments
pyparsing
python-dateutil
python-json-logger
pytz
pyyaml
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
safetensors
scikit-learn
scipy
send2trash
six
sniffio
soupsieve
stack-data
sympy
terminado
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client